
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


/* General */

* {
    font-family: 'Oswald';
    
}
html { 
    background-color: #F4EEED;
    
}
a, a:visited {
    text-decoration: none;
    color: black;
    
}
textarea {
    resize: none;
}
ul {
    list-style-type: none;
}
header {

height: 55px;
border-bottom: 1px solid lightgrey;
border-radius: 0.5px;
box-shadow: 5px 5px 5px lightgrey;

}

.logo img{
    margin-top: -75px;
}
/* Nav bar */
nav {
    
    float:right;
    
    
    
    
    
}

.logo {
    margin: 0;
    display: inline-block;
    height: 100px;
}

.menu  {
    font-size: 25px;
    margin:  6px auto;
    display: flex;
    
    
    
}
.menu li {

    padding-right: 50px;
    transition: all 0.25s linear;
    
}

.menu li:hover{

    transform: scale(1.05, 1.05);
}


/* Homepage */

.photos {
    font-size: 45px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 500px);    
    justify-content: center;      
    column-gap: 200px;
    row-gap: 200px;
    text-shadow: 5px 5px 10px grey;
    
    
}
.photos img {
    box-shadow: 5px 5px 10px grey;
    
    border-radius: 3px;
    transition: all 0.25s linear;
    
    
}

.photos img:hover {

    transform: scale(1.05, 1.05);
    
    
}
.photo-pano {
    grid-column: 1 / 3;
    text-align: center;
}

.title {
        
        text-shadow: 5px 5px 10px grey ;
        font-size: 100px;
        height: 300px;
        padding-top:100px;
        text-align:center;

}

/* Footer */

.foot {
    border-top: 1px solid lightgrey;
    border-radius: 0.5px;
    box-shadow: 0px -27px 39px -9px rgba(173,173,173,0.58);
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    gap: 10px;     
    font-size:30px; 
    margin-top: 10%;
    
    
}

.foot img {
    width: 25px; 
    
}

/* About page*/

.about-content {
    display: inline-block;
    margin-left: 35%;
    margin-top:10%;
    font-size: 30px;    
       
}

/* Contact page*/

.contact-content {

    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 37%;
    row-gap: 10px;
    padding-top:10px;

}

.contact-content input[type="text"], textarea{

    font-size:30px;
}

.h2-contact {
   padding-top: 10%;
   text-align: center;
   font-size: 40px;
   padding-bottom: 50px;
}

.submit-button {
    margin-left: 48%;
    font-size: 25px;
    transition: all 0.25s linear;
    cursor: pointer;
    margin-top:10px;
}

.submit-button:hover {
    background-color: lightgrey;
    transform: scale(1.05, 1.05);
}

